* {
    padding: 0;
    margin: 0;
    font-family: 'Kufam', sans-serif;   
}

body {
    background: url('../../assets/images/Background.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
