header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

header img {
    width: 7.5rem;
    margin: 1rem 0;
}

header.active .menu-mobile {
    color: #33E29A;
}

.menu-mobile {
    display: none;
    height: 3rem;
    background: none;
    border: none;
    color: white;
}

.menu-mobile:focus {
    outline: none;
}

nav ul {
    display: flex;
    list-style: none;
}

header.active ul {
    display: flex;
}

nav ul li {
    padding: .6rem 2rem;
    margin-bottom: 1.2rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

nav ul li:nth-child(1),
nav ul li:hover {
    background-color: #FFFFFF29;
    border-radius: 0.6rem;
}

nav ul li:nth-child(1) a, 
nav ul li a:hover {
    color: #33E29A;
}

nav ul li {
    padding: .6rem 2rem;
}

nav ul li a:hover {
    text-decoration: none;
}
